<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="mdl-layout__header">
      <div class="mdl-layout__header-row" [ngClass]="{'mp-active-search':active}">
            <span *ngIf="!sidebar"
                class="material-icons mp-arrow mp-hide-on-search"
                (click)="showSidebar()">navigate_before
            </span>
            <span class="mdl-layout-title mp-hide-on-search">Finance</span>
        
            <app-search-box class="mp-search-container"
                [active]="active"
                (changed)="updateSearch($event)"
                (activate)="activateSearch($event)"></app-search-box> 
        
            <span class="material-icons pull-right mp-search mp-hide-on-search"
                (click)="toggleSearch(true)">search
            </span>
        
            <span class="material-icons pull-right mp-close"
                (click)="toggleSearch(false)">close
            </span>
        
            <div class="mdl-layout-spacer"></div>
        
            <nav class="mdl-navigation mdl-layout--large-screen-only">       
                <a class="mdl-navigation__link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                <a class="mdl-navigation__link" routerLink="/login" routerLinkActive="active">Login</a>
                <a class="mdl-navigation__link" routerLink="/about" routerLinkActive="active">About</a>
            </nav>
        </div>        
    </div>
    
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a class="mdl-navigation__link" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="mdl-navigation__link" routerLink="/about" routerLinkActive="active">About</a>
      </nav>
    </div>
      
    <div class="mdl-layout__content">
        <router-outlet></router-outlet>
    </div>

    <div class="mdl-mini-footer app-footer">
      <app-footer></app-footer>
    </div>
</div>

